/* src/components/WeatherChart/WeatherChart.css */

.chart-container {
    margin-top: 50px;
    width: 100%;
    height: 400px;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .chart-container {
      height: 250px;
    }
  }
  